.graph-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.graph-tooltip{
  position: absolute;
  background-color: blanchedalmond;
  border-radius: 10px;
  padding: 10px;
  color: black;
  text-align: center;
  width: 200px;
  height: auto;
  transition: all linear 500ms;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.26);

  &.hidden {
    display: none;
  }
}
